* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    /* 상속받는 색상 */
}

.header {
    height: 100px;
    background-color: antiquewhite;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1280px;
    margin: 0 auto;
}

.header .nav .gnb {
    display: flex;
    gap: 40px;
}

.header .util {
    display: flex;
    gap: 40px;
}

.main_visual {
    background-color: rgb(177, 202, 202);
    height: 100vh;
}

.main_visual h2 {
    font-size: 100px;
    text-align: center;
    line-height: 100vh;
}

.section-01 {
    background-color: rgb(206, 206, 206);
    padding: 120px 0;
    /* display: flex; */
    /* justify-content: space-between; */

}

.section-01 .inner{
    width: 1280px;
    margin: 0 auto;
    /* background-color: aliceblue; */
}

.section-01 .inner h3{
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
}

.section-01 .inner .list{
    display: flex;
    justify-content: space-between;
    text-align: center;
    line-height: 305px;

}

.section-01 .inner .list .item{
    background-color: rgb(255, 255, 255);
    width: 305px;
    height: 305px;
}

/* 두번째 섹션 시작
사이즈는 첫번째와 동일

다른점
아이템의 가로크기 : 305px
이미지의 가로와 세로 크기 305px */


.section-02{
    /* background-color: rgb(231, 193, 193); */
    padding: 120px 0;
}

.section-02 .inner{
    width: 1280px;
    margin: 0 auto;
    /* background-color: aliceblue; */
}

.section-02 .inner h3{
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
}

.section-02 .inner .list{
    display: flex;
    justify-content: space-between;
    text-align: center;    
}

.section-02 .inner .list .item{
    width: 305px;
    /* background-color: blanchedalmond; */
}

.section-02 .inner .list .item img{
    width: 305px;
    height: 305px;
    object-fit: cover;
}

.section-03{
    padding: 120px;
    background-color: beige;
}

.section-03 .inner{
    width: 1280px;
    margin: 0 auto;
}

.section-03 .inner h3{
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
}

.section-03 .inner .list{
    display: flex;
    justify-content: space-between;
    text-align: center;    
}

.section-03 .inner .list .item{
    width: 305px;
    position: relative;
    /* background-color: blanchedalmond; */
}

.section-03 .inner .list .item a{

}

.section-03 .inner .list .item a img{
    width: 305px;
    height: 305px;
    object-fit: cover;
}

.section-03 .inner .list .item a p{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.521);
    /* box-sizing: border-box; */
    width: 100%;
    /* height: 60px; */
    /* line-height: 60px; */
    text-align: center;
    padding: 10px;
    backdrop-filter: blur(7px);
}

.footer{
    background-color: rgb(32, 32, 37);
    padding: 100px;
    text-align: center;
    color: white;
}