* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.video {
    height: 80vh;
    position: relative;
}

.video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video .text {
    /* background-color: rgb(116, 145, 145); */
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
}

.video .text h1 {}

.video .text a {}