* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.youtube_wrap {
    width: 1200px;
    background-color: antiquewhite;
    margin: 0 auto;
}

.youtube_wrap .youtube {
    width: 100%;
}

.youtube_wrap .youtube div {
    /* 유튜브 영상 16:9로 높이 만들기 */
    padding-bottom: 56.25%;
    position: relative;
}

.youtube_wrap .youtube div iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

/* 마우스 올렸을 때 :hover */
/* .youtube_wrap 에게 마우스 올렸을 때 h1에게 밑줄 적용 */
.youtube_wrap:hover h1 {
    text-decoration: underline;
    color: rgb(182, 182, 214);
}