* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.section-01 {}

.section-01 .list {
    margin: 0 auto;
    max-width: 900px;
    /* width: 100%; */
    width: calc(100% - 40px);
    /* calc() => 괄호안에 연산식 *, /, +, - 적용 가능 */
    /* background-color: antiquewhite; */
    display: flex;
    justify-content: space-between;
}

.section-01 .list .item {
    width: 32%;
    height: 360px;
    position: relative;
    overflow: hidden;
    display: flex;
}

.section-01 .list .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section-01 .list .item .text {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.623);
    transform: translateY(100%);
    transition: 0.5s;
}

.section-01 .list .item:hover .text {
    transform: translateY(00%);
}

.section-01 .list .item .text strong {}

.section-01 .list .item .text p {}

/* 화면의 크기가 600px 보다 작을 때 실행 */
/* .item의 가로크기 100%;
세로방향으로 배치(flex-wrap:wrap;) */
@media screen and (max-width: 600px) {
    .section-01 .list {
        flex-wrap: wrap;
        row-gap: 20px;
    }

    .section-01 .list .item {
        width: 100%;
    }
}


/* 화면의 크기가 1280px 보다 작을 때 실행 */
/* .item 안에 있는 .text를 보이도록 적용 */
@media screen and (max-width: 1280px) {
    .section-01 .list .item .text {
        transform: translateY(00%);
    }
}

/* .max-width: 1280px */